*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}


.conteiner{
    width: 100%;
    height: 100vh;
    margin: 20px 20px;
}

.content_1{
    width: 100%;
    display: flex;
    margin-bottom: 200px ;
}

.conteiner_btn{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn{
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    background: linear-gradient(rgb(220 220 220), rgb(187 187 187), rgb(160 160 160));
    box-shadow:  0 1px rgba(255,255,255,.2) inset, 0 0 1px 1px rgba(0,1,6,.2);;
    width: 80%;
    height: 70px;
    border-radius: 25px;
}

.btn:hover{
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.btn:active{
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow: 0 0 1px rgba(0,0,0,.5) inset, 0 2px 3px rgba(0,0,0,.5) inset, 0 1px 1px rgba(255,255,255,.1);
}

.content_2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.conteiner_squard{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
}

#squard{
    width: 100px;
    height: 100px;
    background: green;
    position: relative;
}

