body {
    box-sizing: border-box;
    user-select: none;
    height: 100vh;
    background: #000;
}

.container {
    position: absolute;
<<<<<<< HEAD
    height: autos;
=======
    height: auto;
>>>>>>> 3d5581719172673c8bf386053ce3291754cb3686
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
<<<<<<< HEAD
    grid-gap: 10px;
    padding: 4px;
    border-radius: 5px;
    max-width: 360px;
=======
    grid-gap: 5px;
    padding: 4px;
    border-radius: 5px;
    width: 350px;
>>>>>>> 3d5581719172673c8bf386053ce3291754cb3686
    background-color: #eee;
}

.item {
    color: #000;
    padding: 20px;
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    border-radius: 10px;
=======
    border-radius: 5px;
>>>>>>> 3d5581719172673c8bf386053ce3291754cb3686
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
    background: white;
    transition: .2s ease-in-out;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
<<<<<<< HEAD
    background: linear-gradient(rgb(165 166 169), rgb(107 107 114), rgb(110,112,120));
=======
    background: linear-gradient(rgb(220 220 220), rgb(187 187 187), rgb(160 160 160));
>>>>>>> 3d5581719172673c8bf386053ce3291754cb3686
    box-shadow:  0 1px rgba(255,255,255,.2) inset, 0 0 1px 1px rgba(0,1,6,.2);;
}

.item:hover{
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
  }
.item:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow: 0 0 1px rgba(0,0,0,.5) inset, 0 2px 3px rgba(0,0,0,.5) inset, 0 1px 1px rgba(255,255,255,.1);
  }
form {
    max-width: 100%;
}

input {
<<<<<<< HEAD
    border-radius: 10px;
=======
    border-radius: 2px;
>>>>>>> 3d5581719172673c8bf386053ce3291754cb3686
    width: 99%;
    height: 60px;
    border: none;
    font-size: 30px;
    outline: none;
    text-align: right;
}

<<<<<<< HEAD
.input {
    box-shadow: 0 0 #eee;
=======
.input{
    background: #eee;
    box-shadow: 0 0 0;
    grid-column: 1/-1;
}

.result, .maths {
    box-shadow: 0 0 #eee;
    background: #eee;
>>>>>>> 3d5581719172673c8bf386053ce3291754cb3686
    grid-column: 1/-1;
    padding: 0;
}   

<<<<<<< HEAD
.input:active {
=======
.result:active, .maths:active {
>>>>>>> 3d5581719172673c8bf386053ce3291754cb3686
    box-shadow: 0 0px #eee;
    transform: translateY(0px);
}

<<<<<<< HEAD
.clean {
    grid-column: 1/3;
    background-color: yellow;
=======
.input:hover{
    background: #eee;
  }
.input:active {
    top: 0px;
    background: #eee;
    box-shadow: 0 0 0;
  }

.clean {
    grid-column: 1/3;
>>>>>>> 3d5581719172673c8bf386053ce3291754cb3686
}

.back {
    grid-column: 3/-1;
}

.equal {
    grid-column: 4;
    grid-row: 6/8;
<<<<<<< HEAD
    background-color: yellow;
=======
>>>>>>> 3d5581719172673c8bf386053ce3291754cb3686
}

.zero {
    grid-column: 1/3;
}

@media(min-width: 1000px){
    .container{
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 4fr 1fr 1fr 1fr 1fr;
    }
    form{
        width: 100%;
    }
    .clean {
        grid-column: 5/6;
        grid-row: 3/4;
    }
    
    .back {
        grid-row: 5/6;
        grid-column: 3/4;
    }
    .prav{
        grid-column: 5/6;
        grid-row: 4/5;
    }
    .plus{
        grid-column: 4/5;
    }
    .minus{
        grid-column: 4/5;
    }
    .del{
        grid-column: 4/5;
    }
    .mno{
        grid-column: 4/5;
    }
    .one{
        grid-row: 4/5;
        grid-column: 3/4;
    }
    .two{
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .tree{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .four{
        grid-row: 3/4;
        grid-column: 3/4;
    }
    .five{
        grid-row: 3/4;
        grid-column: 2/3;
    }
    .six{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .seven{
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .eidght{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .nine{
        grid-row: 2/3;
    }
    .zero{
        grid-row: 5/6;
        grid-column: 1/2;
    }
    .tochka{
        grid-row: 5/6;
        grid-column: 2/3;
    }
    .equal {
        grid-column: 5/6;
        grid-row: 2/3;
    }
}