$m-0: 0px;
$m-1: 10px;
$m-2: 20px;
$m-3: 30px;
$m-4: 40px;
$m-5: 50px;
$m-6: 60px;
$m-7: 70px;
$m-8: 80px;
$m-9: 90px;
$p-0: 0px;
$p-1: 10px;
$p-2: 20px;
$p-3: 30px;
$p-4: 40px;
$p-5: 50px;
$p-6: 60px;
$p-8: 80px;
$w-100: 100%;
$w-33: 33%;
$w-30: 30%;
$w-40: 40%;
$w-50: 50%;
$w-60: 60%;
$w-80: 80%;
$h-100d: 100vh;
$h-33: 33%;
$fw-bold: 500;
$fz-h1: 50px;
$fz-h2: 35px;
$fz-h3: 20px;
$fz-p: 16px;
$fz-h5: 12px;
$fz-h6: 10px;
$fz-h1-ymen: 35px;
$fz-h2-ymen: 20px;
$fz-h3-ymen: 16px;
$fz-p-ymen: 12px;
$fz-h5-ymen: 10px;
$fz-h6-ymen: 5px;
$bg-color-btn-on: #F53838;
$color-sign-up: #F53855;
$size-display-large: 1200px;
$size-display-big: 992px;
$size-display-medium: 768px;
$size-display-small: 576px;
