$m-0: 0px;
$m-1: 10px;
$m-2: 20px;
$m-3: 30px;
$m-4: 40px;
$m-5: 50px;
$p-0: 0px;
$p-1: 10px;
$p-2: 20px;
$p-3: 30px;
$p-4: 40px;
$p-5: 50px;
$w-100: 100%;
$w-33: 33%;
$w-40: 40%;
$w-80: 80%;
$h-100d: 100vh;
$fw-bold: bold;
$fz-2: 20px;
$bg-color-btn-on: #F53838;
$color-sign-up: #F53855;