* {
  margin: 0px;
  padding: 0px;
  font-family: "Rubik";
  background: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: #F8F8F8;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
}

p, li {
  color: #4F5665;
  font-size: 16px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

.page {
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
}
.page .header1 {
  position: fixed;
  display: flex;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;
}
.page .header1 .pageHeader {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.page .header1 .pageHeader .logo {
  display: flex;
  align-items: center;
  justify-content: start;
}
.page .header1 .pageHeader .logo .slogo {
  margin-left: 10px;
  font-weight: 500;
}
.page .header1 .pageHeader .nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page .header1 .pageHeader .nav div a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.page .header1 .pageHeader .nav div a:hover {
  color: #F53855;
  font-weight: 500;
}
.page .header1 .pageHeader .sign {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: end;
  align-items: center;
}
.page .header1 .pageHeader .sign .signIn {
  margin-right: 30px;
  cursor: pointer;
}
.page .header1 .pageHeader .sign .signIn:hover {
  color: #F53855;
  font-weight: 500;
}
.page .header1 .pageHeader .sign .signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  color: #F53855;
  border: 1px solid #F53855;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
}
.page .header1 .pageHeader .sign .signUp:hover {
  background: #F53855;
  color: white;
}
.page .header1 .pageHeader .sign .signUp:active {
  box-shadow: inset 1px 1px 3px black, inset 1px 5px 5px rgba(0, 0, 0, 0.3), inset 1px -1px 5px rgba(255, 255, 255, 0.5);
}
.page .header2 {
  display: none;
  position: fixed;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;
}
.page .header2 .pageHeader {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.page .header2 .pageHeader .logo {
  display: flex;
  align-items: center;
  justify-content: start;
}
.page .header2 .pageHeader .logo .slogo {
  margin-left: 10px;
  font-weight: 500;
}
.page .header2 .pageHeader .btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.page .header2 .pageHeader .menu {
  animation-name: animateleft;
  animation-duration: 0.6s;
  display: none;
  position: fixed;
  top: 90px;
  left: 10%;
  background: #F8F8F8;
}
.page .header2 .pageHeader .menu span {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #F8F8F8;
  width: 10px;
  height: 10px;
}
.page .header2 .pageHeader .menu div {
  margin: 10px 0 10px 0;
  background: #F8F8F8;
  padding: 10px;
}
.page .header2 .pageHeader .menu div a {
  text-decoration: none;
  color: black;
  background: #F8F8F8;
}
.page .header2 .pageHeader .menu div a:hover {
  color: #F53838;
}
.page .header2 .pageHeader .menu .sign {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page .header2 .pageHeader .menu .sign .signIn {
  cursor: pointer;
}
.page .header2 .pageHeader .menu .sign .signIn:hover {
  color: #F53855;
  font-weight: 500;
}
.page .header2 .pageHeader .menu .sign .signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  color: #F53855;
  border: 1px solid #F53855;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
}
.page .header2 .pageHeader .menu .sign .signUp:hover {
  background: #F53855;
  color: white;
}
.page .header2 .pageHeader .menu .sign .signUp:active {
  box-shadow: inset 1px 1px 3px black, inset 1px 5px 5px rgba(0, 0, 0, 0.3), inset 1px -1px 5px rgba(255, 255, 255, 0.5);
}
.page .easyWithLaslesVPN {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.page .easyWithLaslesVPN .text {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page .easyWithLaslesVPN .text h1 {
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}
.page .easyWithLaslesVPN .text h1 span {
  font-weight: bold;
}
.page .easyWithLaslesVPN .text p {
  margin-top: 30px;
  line-height: 30px;
}
.page .easyWithLaslesVPN .text button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #F53838;
  border: 1px solid #F53838;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  color: white;
  margin-top: 50px;
  box-shadow: 8px 14px 13px 0px rgba(245, 56, 56, 0.35);
}
.page .easyWithLaslesVPN .text button:hover {
  background-color: #ff0808;
}
.page .easyWithLaslesVPN .text button:active {
  transform: translate(8px, 14px);
  box-shadow: inset 0px 1px 1px black, inset 4px 6px 5px rgba(0, 0, 0, 0.3), inset -1px 1px 5px rgba(255, 255, 255, 0.5);
  transition: transform 0.15s;
  transform-style: preserve-3d;
}
.page .easyWithLaslesVPN .img {
  width: 48%;
  display: flex;
  align-items: center;
}
.page .aboutLaslesVPN {
  margin: 50px auto 0px auto;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 200px;
  box-shadow: 3px 10px 17px 0px rgb(200, 200, 200);
}
.page .aboutLaslesVPN div {
  display: flex;
  align-items: center;
}
.page .aboutLaslesVPN .usersText, .page .aboutLaslesVPN .locationsText, .page .aboutLaslesVPN .serversText {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  color: #4F5665;
}
.page .aboutLaslesVPN .usersText .num, .page .aboutLaslesVPN .locationsText .num, .page .aboutLaslesVPN .serversText .num {
  font-weight: 700;
  color: black;
  line-height: 30px;
}
.page .provide {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
}
.page .provide .pictureConteiner {
  width: 40%;
  display: flex;
  align-items: center;
}
.page .provide .provideDiv {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.page .provide .provideDiv h2 {
  width: 383px;
  font-weight: 500;
  line-height: 50px;
}
.page .provide .provideDiv p {
  width: 427px;
  font-weight: 400;
  line-height: 30px;
}
.page .provide .provideDiv ul {
  height: 33%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page .provide .provideDiv ul li::before {
  content: url("https://i.ibb.co/k5LfwQY/tick.png");
  position: relative;
  left: -8px;
  top: 5px;
}
.page .planWithMap {
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}
.page .planWithMap .chooesPlan .textPlan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}
.page .planWithMap .chooesPlan .textPlan h2 {
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 20px;
}
.page .planWithMap .chooesPlan .textPlan p {
  margin-bottom: 60px;
}
.page .planWithMap .chooesPlan .textPlan .planDivImg {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.page .planWithMap .chooesPlan .textPlan .planDivImg div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding-bottom: 60px;
  padding-top: 80px;
}
.page .planWithMap .chooesPlan .textPlan .planDivImg div img {
  width: 50%;
}
.page .planWithMap .chooesPlan .textPlan .planDivImg div h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.page .planWithMap .chooesPlan .textPlan .planDivImg div ul {
  height: 230px;
  padding-bottom: 50px;
  list-style-type: none;
}
.page .planWithMap .chooesPlan .textPlan .planDivImg div li {
  padding-bottom: 10px;
  height: 30px;
}
.page .planWithMap .chooesPlan .textPlan .planDivImg div li::before {
  content: url("https://i.ibb.co/Bg1kLGT/tick-For-Plan.png");
  width: 13px;
  height: 9px;
  position: relative;
  left: -25px;
  top: -1px;
}
.page .planWithMap .chooesPlan .textPlan .planDivImg div h2 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.page .planWithMap .chooesPlan .textPlan .planDivImg div button {
  background: #fff;
  width: 50%;
  height: 45px;
  border: 2px solid #F53838;
  color: #F53838;
  border-radius: 25px;
}
.page .planWithMap .chooesPlan .textPlan .planDivImg div button:hover {
  background: #F53855;
  color: white;
}
.page .planWithMap .chooesPlan .textPlan .planDivImg div button:active {
  box-shadow: inset 1px 1px 3px black, inset 1px 5px 5px rgba(0, 0, 0, 0.3), inset 1px -1px 5px rgba(255, 255, 255, 0.5);
}
.page .planWithMap .chooesPlan .textPlan .planDivImg .active {
  border: 2px solid #F53838;
}
.page .planWithMap .chooesPlan .textPlan .planDivImg .activeBtn {
  background: #F53838;
  color: white;
  box-shadow: 8px 14px 13px 0px rgba(245, 56, 56, 0.35);
}
.page .planWithMap .mapConteiner .textMap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page .planWithMap .mapConteiner .textMap h2 {
  max-width: 383px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 150px;
}
.page .planWithMap .mapConteiner .textMap p {
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  max-width: 555px;
  margin-bottom: 155px;
}
.page .planWithMap .mapConteiner .pictureMap {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(6, 1fr);
  max-width: 1060px;
  width: 80%;
}
.page .planWithMap .mapConteiner .pictureMap img {
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 14;
  margin-bottom: 50px;
}
.page .planWithMap .mapConteiner .inp {
  display: flex;
  justify-content: center;
}
.page .planWithMap .mapConteiner .inp .input {
  box-sizing: border-box;
  width: 30%;
  height: 100px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F53838;
  border-radius: 10px;
}
.page .shop {
  margin: 0 auto;
  margin-top: 109px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .shop div {
  width: 15%;
}
.page .sliderConteiner {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}
.page .sliderConteiner .textSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page .sliderConteiner .textSlider h2 {
  margin-top: 125px;
  max-width: 450px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
}
.page .sliderConteiner .textSlider p {
  margin-top: 20px;
  max-width: 555px;
  font-style: normal;
  line-height: 30px;
  text-align: center;
}
.page .sliderConteiner .slider {
  margin-bottom: 82px;
  position: relative;
  display: flex;
  width: 1800px;
}
.page .sliderConteiner .slider .slide {
  box-sizing: border-box;
  padding: 20px;
  width: 400px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  margin-right: 50px;
}
.page .sliderConteiner .slider .slide .per {
  display: flex;
  justify-content: space-between;
}
.page .sliderConteiner .slider .slide .per .imgName {
  display: flex;
}
.page .sliderConteiner .slider .slide .per .imgName .img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.page .sliderConteiner .slider .slide .per .imgName .name p {
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.page .sliderConteiner .slider .slide .per .imgName .name h5 {
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.page .sliderConteiner .slider .slide .per .startConteiner {
  display: flex;
  align-items: center;
}
.page .sliderConteiner .slider .slide .per .startConteiner img {
  width: 13px;
  height: 12px;
  margin-left: 10px;
}
.page .sliderConteiner .slider .activeSlide {
  border: 2px solid #F53838;
}
.page .sliderConteiner .sliderControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page .sliderConteiner .sliderControl .tochki {
  display: flex;
}
.page .sliderConteiner .sliderControl .tochki .touch {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #DDE0E4;
  margin-left: 15px;
}
.page .sliderConteiner .sliderControl .tochki .touch:hover {
  background: #F53838;
}
.page .sliderConteiner .sliderControl .tochki .activeTouch {
  width: 45px;
  border-radius: 10px;
  background: #F53838;
}
.page .sliderConteiner .sliderControl .strelki {
  display: flex;
  justify-content: end;
}
.page .sliderConteiner .sliderControl .strelki .strel {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #F53838;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page .sliderConteiner .sliderControl .strelki .strel img {
  width: 20px;
  height: 17px;
}
.page .sliderConteiner .sliderControl .strelki .strel:hover {
  background: #F53838;
}
.page .sliderConteiner .sliderControl .strelki .strel:hover img {
  background: #F53838;
}
.page .pop {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 223px;
  margin: 0 auto;
  margin-top: 88px;
  box-shadow: 3px 10px 17px 0px rgb(200, 200, 200);
}
.page .pop .textPop h2 {
  width: 371px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}
.page .pop .textPop p {
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.page .pop .btnPop button {
  width: 250px;
  height: 60px;
  color: white;
  border: #F53838;
  background: #F53838;
  border-radius: 10px;
  box-shadow: 8px 14px 13px 0px rgba(245, 56, 56, 0.35);
}
.page .pop .btnPop button:hover {
  background-color: #ff0808;
}
.page .pop .btnPop button:active {
  transform: translate(8px, 14px);
  box-shadow: inset 0px 1px 1px black, inset 4px 6px 5px rgba(0, 0, 0, 0.3), inset -1px 1px 5px rgba(255, 255, 255, 0.5);
  transition: transform 0.15s;
  transform-style: preserve-3d;
}
.page .footer {
  padding-top: 20px;
  background: #F8F8F8;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.page .footer .mesager {
  width: 40%;
  background: #F8F8F8;
}
.page .footer .mesager .logo {
  background: #F8F8F8;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.page .footer .mesager .logo img {
  width: 36px;
  height: 36px;
  background: #F8F8F8;
  padding-right: 10px;
}
.page .footer .mesager .textMes {
  background: #F8F8F8;
}
.page .footer .mesager .textMes p {
  padding-top: 26px;
  background: #F8F8F8;
  max-width: 340px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.page .footer .mesager .mesanger {
  padding-top: 30px;
  background: #F8F8F8;
}
.page .footer .mesager .mesanger a {
  background: #F8F8F8;
  text-decoration: none;
}
.page .footer .mesager .mesanger a img {
  background: #F8F8F8;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.page .footer .mesager .info {
  margin-top: 20px;
  background: #F8F8F8;
}
.page .footer .mesager .info button {
  width: 250px;
  height: 60px;
  color: white;
  border: #F53838;
  background: #F53838;
  border-radius: 10px;
  box-shadow: 8px 14px 13px 0px rgba(245, 56, 56, 0.35);
}
.page .footer .mesager .info button:hover {
  background-color: #ff0808;
}
.page .footer .mesager .info button:active {
  transform: translate(8px, 14px);
  box-shadow: inset 0px 1px 1px black, inset 4px 6px 5px rgba(0, 0, 0, 0.3), inset -1px 1px 5px rgba(255, 255, 255, 0.5);
  transition: transform 0.15s;
  transform-style: preserve-3d;
}
.page .footer .mesager .hz {
  padding-top: 30px;
  background: #F8F8F8;
  color: #AFB5C0;
}
.page .footer .nav {
  background: #F8F8F8;
  width: 40%;
  display: flex;
}
.page .footer .nav div {
  background: #F8F8F8;
  padding-left: 10%;
}
.page .footer .nav div h3 {
  background: #F8F8F8;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.page .footer .nav div ul {
  background: #F8F8F8;
  list-style-type: none;
}
.page .footer .nav div ul li {
  background: #F8F8F8;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-top: 10px;
}
.page .conteinerForm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(221, 224, 228, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page .conteinerForm .contentFormSignIn {
  background: #F8F8F8;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  animation-name: animatetop;
  animation-duration: 0.6s;
}
.page .conteinerForm .contentFormSignIn span {
  background: #F8F8F8;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  left: 152px;
  top: -13px;
  cursor: pointer;
}
.page .conteinerForm .contentFormSignIn form {
  background: #F8F8F8;
}
.page .conteinerForm .contentFormSignIn form div {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.page .conteinerForm .contentFormSignIn form div label {
  background: #F8F8F8;
}
.page .conteinerForm .contentFormSignIn form div input {
  height: 25px;
  border-radius: 10px;
  text-align: center;
}
.page .conteinerForm .contentFormSignIn button {
  width: 204px;
  height: 35px;
  border-radius: 10px;
  background-color: #F53838;
  border: 1px solid #F53838;
  color: white;
  box-shadow: 8px 14px 13px 0px rgba(245, 56, 56, 0.35);
}
.page .conteinerForm .contentFormSignIn button:hover {
  background-color: #ff0808;
}
.page .conteinerForm .contentFormSignIn button:active {
  transform: translate(8px, 14px);
  box-shadow: inset 0px 1px 1px black, inset 4px 6px 5px rgba(0, 0, 0, 0.3), inset -1px 1px 5px rgba(255, 255, 255, 0.5);
  transition: transform 0.15s;
  transform-style: preserve-3d;
}
.page .conteinerThank {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(221, 224, 228, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page .conteinerThank div {
  animation-name: animatetop;
  animation-duration: 0.6s;
  background: #F8F8F8;
  width: 100px;
  padding: 20px;
}
.page .conteinerThank div span {
  background: #F8F8F8;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  left: 101px;
  top: -18px;
  cursor: pointer;
}
.page .popInfo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(221, 224, 228, 0);
  justify-content: center;
  align-items: center;
}
.page .popInfo .class {
  padding: 20px;
  animation-name: animatetop;
  animation-duration: 0.2s;
  background: #F8F8F8;
  display: flex;
  justify-content: space-between;
}
.page .popInfo .class span {
  background: #F8F8F8;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  left: -13px;
  top: -18px;
  cursor: pointer;
}
.page .popInfo .class .first {
  margin-right: 20px;
}
.page .popInfo .class div {
  background: #F8F8F8;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page .popInfo .class div h2 {
  background: #F8F8F8;
  margin-bottom: 30px;
}
.page .popInfo .class div ul {
  list-style-type: none;
  background: #F8F8F8;
}
.page .popInfo .class div ul li {
  background: #F8F8F8;
  margin-bottom: 20px;
}

@keyframes animatetop {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes animateleft {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0px);
  }
}
@media screen and (max-width: 1200px) {
  .page .header1 {
    display: none;
  }
  .page .header2 {
    display: flex;
  }
  .page .planWithMap .chooesPlan .textPlan .planDivImg div li::before {
    left: -5px;
  }
}
@media screen and (max-width: 992px) {
  p, li {
    color: #4F5665;
    font-size: 12px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h5 {
    font-size: 10px;
  }
  h6 {
    font-size: 5px;
  }
  .page .conteiner {
    width: 90%;
  }
  .page .header2 {
    max-width: 992px;
    width: 100%;
  }
  .page .header2 .pageHeader {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .page .header2 {
    max-width: 768px;
  }
  .page .easyWithLaslesVPN {
    flex-direction: column-reverse;
    align-items: center;
  }
  .page .easyWithLaslesVPN .text {
    width: 100%;
  }
  .page .provide {
    flex-direction: column;
    align-items: center;
  }
  .page .provide .provideDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page .planWithMap {
    margin: 0 auto;
  }
  .page .planWithMap .chooesPlan .textPlan .planDivImg {
    flex-direction: column;
    align-items: center;
  }
  .page .planWithMap .chooesPlan .textPlan .planDivImg div {
    width: 100%;
    margin-bottom: 20px;
  }
  .page .pop {
    flex-direction: column;
    align-items: center;
  }
  .page .pop .textPop h2 {
    width: 400px;
  }
  .page .footer {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .page .aboutLaslesVPN {
    flex-direction: column;
    align-items: center;
    height: 270px;
  }
  .page .aboutLaslesVPN div .usersText, .page .aboutLaslesVPN div .locationsText, .page .aboutLaslesVPN div .serversText {
    width: 171px;
  }
  .page .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page .footer .mesager {
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */