$bg-header: #050505;
$bg-content: #f2f2f2;
$color-none: white;
$color-usa: #9cd1f9;
$color-on-line: #ffbf68;
$color-shopping: #99d86d;
$color-h1: #d49a5a;
$height-nav: 50px;
$height-header: 200px;
$height-pol: 100%;
$height-footer: 100px;
$height-display: 100vh;
$height-geo: 30px;
$width-pol: 100%;
$width-geo: 30px;
$p-0: 0px;
$p-1: 10px;
$p-2: 20px;
$p-3: 30px;
$p-4: 40px;
$p-5: 50px;
$m-0: 0px;
$m-1: 10px;
$m-2: 20px;
$m-3: 30px;
$m-4: 40px;
$m-5: 50px;
$size-letter-logo: 50px;
$size-our: 25px;
$logo-spacing: 3px;