* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
}

h2 {
  color: #d49a5a;
}

.prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.prev header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  background: #050505;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 75px 75px;
      grid-template-rows: 75px 75px;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding-top: 20px;
}

.prev header .logo {
  padding-left: 20px;
  font-weight: bolder;
  font-size: 50px;
  letter-spacing: 3px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.prev header .logo .usa {
  color: #9cd1f9;
}

.prev header .logo .online {
  color: #ffbf68;
}

.prev header .logo .shopping {
  color: #99d86d;
}

.prev header .cont {
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d49a5a;
}

.prev header .cont .our {
  font-size: 25px;
}

.prev header .logo_picture {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
}

.prev header .logo_picture .logo_pict {
  display: none;
}

.prev header .dropdown {
  display: none;
}

.prev .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prev .content .navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  background: #050505;
}

.prev .content .navigation .navigation_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prev .content .navigation .navigation_menu a {
  color: white;
  text-decoration: none;
}

.prev .content .body_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #f2f2f2;
  padding: 20px;
}

.prev .content .body_content #show {
  margin-bottom: 20px;
}

.prev .content .body_content #show p {
  text-align: justify;
}

.prev .content .body_content #steps p {
  margin-bottom: 20px;
}

.prev .content .body_content #steps .conteiner_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 10px;
}

.prev .content .body_content #steps .conteiner_step div {
  background: #242424;
  width: 15%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 14px -12px 9px 1px #2f3338;
          box-shadow: 14px -12px 9px 1px #2f3338;
}

.prev .content .body_content #steps .conteiner_step div h2 {
  font-size: 40px;
}

.prev .content .body_content #steps .conteiner_step div div {
  padding: 20px 0px;
  font-size: 20px;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

.prev .content .body_content .arive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prev .content .body_content .arive .body_arive {
  width: 45%;
}

.prev .content .body_content .arive .body_arive .arive_content .plane_arive, .prev .content .body_content .arive .body_arive .arive_content .sea_arive {
  margin-top: 20px;
  background-color: #e5e5e5;
  background-image: url("https://easyxpress.com.ua/img/avia-bg.png");
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 200px;
  padding: 30px;
  position: relative;
}

.prev .content .body_content .arive .body_arive .arive_content .plane_arive h2, .prev .content .body_content .arive .body_arive .arive_content .sea_arive h2 {
  color: black;
  padding: 0px;
}

.prev .content .body_content .arive .body_arive .arive_content .plane_arive .plane_conteiner, .prev .content .body_content .arive .body_arive .arive_content .plane_arive .sea_conteiner, .prev .content .body_content .arive .body_arive .arive_content .sea_arive .plane_conteiner, .prev .content .body_content .arive .body_arive .arive_content .sea_arive .sea_conteiner {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prev .content .body_content .arive .body_arive .arive_content .plane_arive .plane_conteiner .plane_conteiner_content, .prev .content .body_content .arive .body_arive .arive_content .plane_arive .plane_conteiner .sea_conteiner_content, .prev .content .body_content .arive .body_arive .arive_content .plane_arive .sea_conteiner .plane_conteiner_content, .prev .content .body_content .arive .body_arive .arive_content .plane_arive .sea_conteiner .sea_conteiner_content, .prev .content .body_content .arive .body_arive .arive_content .sea_arive .plane_conteiner .plane_conteiner_content, .prev .content .body_content .arive .body_arive .arive_content .sea_arive .plane_conteiner .sea_conteiner_content, .prev .content .body_content .arive .body_arive .arive_content .sea_arive .sea_conteiner .plane_conteiner_content, .prev .content .body_content .arive .body_arive .arive_content .sea_arive .sea_conteiner .sea_conteiner_content {
  font-size: large;
  width: 30%;
}

.prev .content .body_content #shop h2 {
  margin-bottom: 30px;
}

.prev .content .body_content #shop .shop_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.prev .content .body_content #shop .shop_grid .div {
  background: #ffffff;
  padding: 20px;
}

.prev .content .body_content #shop .shop_grid .div img {
  width: 100%;
  height: 100%;
}

.prev footer {
  background: #050505;
  height: 100px;
  font-style: italic;
}

.prev footer .footer_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prev footer .footer_flex .contacte_infomation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prev footer .footer_flex .contacte_infomation .phone {
  margin-bottom: 10px;
  color: white;
}

.prev footer .footer_flex .contacte_infomation .emeil {
  margin-top: 10px;
  color: white;
}

.prev footer .footer_flex .geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prev footer .footer_flex .geo .location {
  margin-bottom: 10px;
  color: white;
}

.prev footer .footer_flex .geo .geo_iteams {
  margin-top: 10px;
}

.prev footer .footer_flex .geo .gis,
.prev footer .footer_flex .geo .google_map {
  width: 30px;
  height: 30px;
}

.prev footer .footer_flex .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.prev footer .footer_flex .page .viber {
  width: 35px;
  height: 35px;
  padding-left: 10px;
}

.prev footer .footer_flex .page .telegram {
  width: 35px;
  height: 32px;
}

@media (max-width: 1230px) {
  .prev header .cont {
    display: none;
  }
}

@media (max-width: 1150px) {
  .prev .content .body_content #steps .conteiner_step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prev .content .body_content #steps .conteiner_step .step {
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    margin-bottom: 20px;
  }
  .prev .content .body_content #steps .conteiner_step .step h2 {
    padding: 10px 0px 0px 10px;
  }
  .prev .content .body_content #steps .conteiner_step .step div {
    padding: 10px 0px 20px 10px;
  }
}

@media (max-width: 960px) {
  .prev .content .body_content .arive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prev .content .body_content .arive .body_arive {
    width: 100%;
  }
  .prev .content .body_content .arive .body_arive .arive_content {
    width: 100%;
  }
}

@media (max-width: 765px) {
  .prev header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    padding: 0px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .prev header .logo {
    display: none;
  }
  .prev header .slogo {
    display: none;
  }
  .prev header .logo_picture {
    width: 100%;
  }
  .prev header .logo_picture .world {
    display: none;
  }
  .prev header .logo_picture .logo_pict {
    padding: 10px;
    display: block;
    width: 126px;
    height: 50px;
  }
  .prev header .dropdown {
    position: relative;
    display: block;
  }
  .prev header .dropdown .dropbtn {
    background-color: black;
    padding: 10px;
    border: none;
  }
  .prev header .dropdown .dropbtn .bi-list {
    font-size: 25px;
    color: white;
  }
  .prev header .dropdown .dropdown-content {
    display: none;
    position: absolute;
    right: 20px;
    background-color: rgba(250, 250, 250, 0.8);
    width: 100px;
    z-index: 1;
  }
  .prev header .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .prev header .dropdown .dropdown-content a:hover {
    background-color: rgba(187, 187, 187, 0.932);
  }
  .prev header .dropdown .dropdown:hover .dropdown-content {
    display: block;
  }
  .prev .content {
    margin-top: 122px;
  }
  .prev .content .navigation {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */