@import 'per';

*{
    margin: $m-0;
    padding: $p-0;
    box-sizing: border-box;
}

body{
    height: $height-display;
}

h2{
    color: $color-h2;
}

.prev{
    display: flex;
    flex-direction: column;
    height: $height-pol;
    header{
        height: $height-header;
        background: $bg-header;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 75px 75px;
        row-gap: 10px;
        column-gap: 10px;
        padding-top: $p-2;
        .logo{
            padding-left: $p-2;
            font-weight: bolder;
            font-size: $size-letter-logo;
            letter-spacing: $logo-spacing;
            grid-row-start: 1;
            grid-row-end: 3;
            .usa{
                color: $color-usa;
            }
            .online{
                color: $color-on-line;
            }
            .shopping{
                color: $color-shopping;
            }
        }
        .cont{
            background: $bg-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $color-h2;
            .our{
                font-size: $size-our;
            }
        }
        .logo_picture{
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 4;
            grid-column-end: 5;
        }
    }
    .content{
        flex: 1 1 auto;
        display: flex;
        .navigation{
            flex: 0 0 200px;
            background: $bg-header;
            .navigation_menu{
                display: flex;
                flex-direction: column;
                a{
                    color: $color-none;
                    text-decoration: none;
                }
            }
        }
        .body_content{
            flex: 1 1 auto;
            background: $bg-content;
            padding: $p-2;
            #show{
                margin-bottom: $m-2;
                p{
                    text-align: justify;
                }
            }
            #steps{
                p{
                    margin-bottom: $m-2;
                }
                .conteiner_step{
                    display: flex;
                    justify-content: space-around;
                    margin: $m-0 $m-1;
                    div{
                        background: #242424;
                        width: 15%;
                        height: $height-auto;
                        padding: $p-1;
                        border-radius: 5px;
                        box-shadow: 14px -12px 9px 1px rgba(47, 51, 56, 1);
                        h2{
                            font-size: $size-step-h2;
                        }
                        div{
                            padding: $p-2 $p-0;
                            font-size: $size-step-text;
                            color: $color-none;
                        }

                    }
                }
            }
            .arive{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .body_arive{
                    width: $width-body-arive;
                    .arive_content{
                        .plane_arive, .sea_arive{
                            margin-top: $m-2;
                            background-color: #e5e5e5;
                            background-image: url('https://easyxpress.com.ua/img/avia-bg.png');
                            border-radius: $r-2;
                            background-repeat: no-repeat;
                            background-position: 100% 0;
                            background-size: $b-s-2;
                            padding: $p-3;
                            position: relative;
                            h2{
                                color: black;
                                padding: $p-0;
                            }
                            .plane_conteiner, .sea_conteiner{
                                margin-top: $m-2;
                                display: flex;
                                font-display: column;
                                justify-content: space-between;
                                .plane_conteiner_content, .sea_conteiner_content{
                                    font-size: large;
                                    width: $width-arive-content
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        background: $bg-header;
        height: $height-footer;
        font-style: italic;
        .footer_flex{
            display: flex;
            width: $width-pol;
            height: $height-pol;
            justify-content: space-between;
            .contacte_infomation{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .phone{
                    margin-bottom: $m-1;
                    color: $color-none;
                }
                .emeil{
                    margin-top: $m-1;
                    color: $color-none;
                }
            }
            .geo{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .location{
                    margin-bottom: $m-1;
                    color: $color-none;
                }
                .geo_iteams{
                    margin-top: $m-1;
                }
                .gis,
                .google_map {
                    width: $width-geo;
                    height: $height-geo;
                }
            }
            .page{
                display: flex;
                align-items: center;
                height: $height-pol;
                .viber{
                    width: 35px;
                    height: 35px;
                    padding-left: $m-1;
                }
                .telegram{
                    width: 35px;
                    height: 32px;
                }
            }
        }
    }
}