*{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

body {
    height: 100vh;
}

h2{
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.pai{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header{
    display: flex;
    width: 100%;
    background-color: #242424;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background: #050505;
}

.slogo{
    padding-left: 20px;
    color: white;
    z-index: 3;
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 3px;
}

.usa{
    color: #9cd1f9;
}

.online{
    color: #ffbf68;
}

.shopping{
    color: #99d86d;
}

.world{
    z-index: 2;
}

.logo{
    display: none;
    width: 126px;
    height: 50px;
}

.dropdown {
    position: relative;
    display: none;
}

.dropbtn {
    background-color: black;
    padding: 16px;
    border: none;
}

.bi-list{
    font-size: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 20px;
    background-color: rgba(250, 250, 250, 0.8);
    width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(187, 187, 187, 0.932);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.conteiner{
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
}

.navigation{
    flex: 0 0 200px;
    background: #454545;
}

.navigation_menu{
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
}

.navigation_menu a {
    margin-bottom: 30px;
    color: #d49a5a;
}

.content{
    flex: 1 1 auto;
    background: #f2f2f2;
    padding: 20px;
}

.show{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.age, .klient_reaction, .klient, .pos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #242424;
    width: 20%;
    border-radius: 5px;
    box-shadow: 14px -12px 9px 1px rgba(47, 51, 56, 1);
    padding: 15px 0;
}

.our{
    color: #d49a5a;
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    height: auto;
}

.age_text,.about_our h2 ,.steps h2, .header_arive h2{
    color: #d49a5a;
}

.about_our{
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
}

.steps{
    margin-bottom: 20px;
}

.steps p{
    color: black;
    margin-bottom: 40px;
}

.conteiner_step{
    display: flex;
    justify-content: space-around;
    margin: 0 15px;
}

.step_1, .step_2, .step_3, .step_4, .step_5{
    background: #242424;
    width: 15%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 14px -12px 9px 1px rgba(47, 51, 56, 1);
}

.step_1 h2, .step_2 h2, .step_3 h2, .step_4 h2, .step_5 h2{
    font-size: 40px;
}

.step_1 div, .step_2 div, .step_3 div, .step_4 div, .step_5 div{
    padding: 20px 0;
    font-size: 20px;
}

.arive_p, .plane, .sea{
    color: black;
}

.arive{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_arive{
    width: 488px;
}

.body_arive{
    width: 45%;
}

.sea, .plane{
    padding: 0;
}

.plane_arive, .sea_arive{
    margin-top: 20px;
    background-color: #e5e5e5;
    background-image: url('https://easyxpress.com.ua/img/avia-bg.png');
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 219px;
    padding: 30px;
    position: relative;
}

.plane_conteiner, .sea_conteiner{
    margin-top: 20px;
    display: flex;
    font-display: column;
    justify-content: space-between;
}

.plane_conteiner_content, .sea_conteiner_content{
    font-size: large;
    width: 30%;
}

.sidebar{
    flex: 0 0 200px;
    background: #454545;
}

footer {
    font-style: italic;
    height: 100px;
    background-color: #242424;
    color: white;
}

.footer_flex{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.contacte_infomation{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.phone{
    margin-bottom: 5px;
}

.emeil{
    margin-top: 5px;
}

.geo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location{
    margin-bottom: 5px;
}

.geo_iteams{
    margin-top: 5px;
}

.gis,
.google_map {
    width: 30px;
    height: 30px;
}

.page{
    display: flex;
    align-items: center;
    height: 100%;
}

.viber{
    width: 35px;
    height: 35px;
    padding-left: 10px;
}

.telegram{
    width: 35px;
    height: 32px;
}

.p{
    color: black;
    font-size: 20px;
    text-align: justify;
}

@media (max-width: 1350px){
    .conteiner{
        flex-direction: column;
    }

    .navigation{
        position: sticky;
        height: auto;
        flex: 0 0 50px;
    }

    .navigation_menu{
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }

    .navigation_menu a{
        margin: 0;
    }
}

@media (max-width: 1085px) {

    header{
        position: fixed;
        height: auto;
    }

    .logo{
        padding: 5px;
        display: block;
    }

    .world{
        display: none;
    }

    .slogo{
        display: none;
    }

    .dropdown{
        display: inline-block;
    }

    .conteiner{
        margin-top: 60px;
        flex-direction: column;
    }

    .navigation{
        display: none;
    }

    .content{
        padding: 40px;
    }

    .show{
        flex-direction: column;
        align-items: center;
    }

    .cont{
        width: 100%;
        margin-bottom: 65px;
        padding: 30px 0;
    }

    .pos{
        margin: 0;
    }

    .conteiner_step{
        flex-direction: column;
        margin: 0;
    }

    .step_1, .step_2, .step_3, .step_4, .step_5{
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .step_1 h2, .step_2 h2, .step_3 h2, .step_4 h2, .step_5 h2{
        padding: 10px 0 0 10px ;
    }
    
    .step_1 div, .step_2 div, .step_3 div, .step_4 div, .step_5 div{
        padding: 10px 0 20px 10px ;
    }
    

    .arive{
        flex-direction: column;
    }

    .body_arive{
        width: 100%;
    }

    .arive_content{
        width: 100%;
        justify-content: left;
    }

    .sidebar{
        flex: 1 1 auto;
    }

}