*{
    margin: 0;
    color: white;
    box-sizing: border-box;
}

body{
    height: 100vh;
    min-width: 900px;
    background: linear-gradient(315deg, #246488 35%, #1B201EDB 65%);
}

.grid_conteiner{
    height: 500px;
    width: 890px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 50px 50px 315px 100px 300px;
    grid-template-rows: 100px 1fr 50px;
    column-gap: 30px;
    row-gap: 30px;
}

.grid_item_h{
    order: -2;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
}

.grid_item_colum{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    visibility: hidden;
}

.grid_item_text{
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 20px;
}

.grid_item_text p{
    margin-bottom: 15px;
}

.viber{
    width: 50px;
    height: 50px;
}

.telegram{
    width: 50px;
    height: 50px;
}

.grid_item_block{
    order: -1;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 20px;
    background: radial-gradient(#16517BB0 10%, #1E1A36 100%);
    box-shadow: 20px 17px 13px 2px rgb(4 44 82);
}

form{
    height: 100%;
}

.grid_form{
    height: 100%;
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: repeat(7, 1fr);
    justify-content: center;
}

input{
    width: 240px;
    height: 40px;
    border-radius: 5px;
    background: #DFDADA;
    font-size: 20px;
    color: black;
    padding: 0 5px;
    margin-top: 5px;
}

.h2{
    text-align: center;
    padding-top: 30px;
}

.nom_phone{
    font-size: 20px;
}

#phone{
    width: 203px;
}

#sogl{
    width: 10px;
    height: 10px;
}

.btn{
    text-align: center;
}

button{
    height: 40px;
    font-size: 20px;
    color: black;
    background: #DFDADA;
    border-radius: 5px;
    border-color: #DFDADA;
}